<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Kinopoisk</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="main">
        <div class="categories">
          <h3>Жанры</h3>
          <%genres.forEach(genre =>{ %>
          <a href="/<%=genre.key %>"> <%=genre.name%> </a>
          <% }) %>
        </div>

        <div class="main-content">
          <h3>Фильмы и сериалы</h3>
          <% films.forEach(item => { %>
          <div class="main-card">
            <div class="card-left">
              <div class="film-img">
                <img src="<%=item.image %>" alt="" />
              </div>
              <div class="film-info">
                <a href=""><%=item.titleRus %></a>
                <a href=""
                  ><%=item.titleEng %>, <%=item.year %>, <%=item.time %> min</a
                >
                <a href=""><%=item.country.name %>, <%=item.genre.name %></a>
                <button class="film-btn">
                  <img src="/images/icons/play.svg" alt="" />
                  Смотреть
                </button>
              </div>
            </div>
            <div class="card-right">
              <div class="film-rate">
                <p>7.3</p>
              </div>
              <% if(user.toWatch && user.toWatch.includes(item._id)){ %>
              <button
                class="film-btn"
                onclick="deleteFromToWatch('<%=item._id%>')"
              >
                <img src="/images/icons/saved.png" alt="" />
                Сохранено
              </button>
              <% } else{ %>
              <button class="film-btn" onclick="saveToWatch('<%=item._id%>')">
                <img src="/images/icons/save.svg" alt="" />
                Буду смотреть
              </button>
              <% } %>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>
