<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="main">
        <div class="categories">
          <h3>Genres</h3>
          <% genres.forEach(genre => { %>
          <a href=""> <%=genre.name%> </a>
          <% }); %>
        </div>

        <div class="main-content">
          <h3>Профиль</h3>
          <div class="profile">
            <div class="profile-img">
              <img src="/images/avatar.jpg" alt="" />
            </div>

            <div class="profile-info">
              <p><span>Полное имя: </span> <%=user.full_name %></p>
              <p><span>Email: </span> <%=user.email %></p>

              <% if(loginUser.id==user.id){ %>
              <a class="edit-btn">Edit profile</a>
              <a class="logout-btn" href="/api/signout">Exit</a>
              <% } %>
            </div>
          </div>

          <h3>Фильмы</h3>
          <% films.forEach(item => {%>
          <a href="/filmInfo/<%=item._id %>">
            <div class="main-card">
              <div class="card-left">
                <div class="film-img">
                  <img src="/<%=item.image %>" alt="" />
                </div>
                <div class="film-info">
                  <a href=""><%=item.titleRus %></a>
                  <a href=""
                    ><%=item.titleEng %>, <%=item.year %>, <%=item.time %></a
                  >
                  <a href=""><%=item.country.name %>, <%=item.genre.name %></a>
                  <a href="">Author: <%=item.author.full_name %></a>
                  <button class="film-btn">
                    <img src="/images/icons/play.svg" alt="" />
                    WATCH
                  </button>
                </div>
              </div>
              <div class="card-right">
                <div class="film-rate">
                  <p>7.3</p>
                </div>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>
